.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  color: white;
  text-align: center;
}



.title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.message {
  font-size: 1.5rem;
  margin-top: 20px;
  font-style: italic;
}


.seat-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: Arial, sans-serif;
  color: #fff;
}

.seat-map h2 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.seat {
  cursor: pointer;
  margin: 2px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #444;
  border-radius: 4px;
  transition: transform 0.2s, background-color 0.2s;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.seat span {
  font-size: 12px;
  margin-top: 5px;
  color: #ccc;
}

.seat:hover {
  background-color: #4caf50;
  transform: scale(1.1);
  color: white;
}

.seat.selected {
  background-color: red;
  color: white;
  border-color: darkred;
  pointer-events: none;
}

.seat.selected span {
  font-weight: bold;
  color: white;
}


.seat-map-container {
  max-width: 600px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
}
