.Tickets {
	padding: 20px;
	text-align: center;
	margin: 80px;
	padding: 10px;
	color: white;
}

.Tickets h2 {
	font-size: 3em;
	margin-bottom: 20px;
}

.Tickets p {
	font-size: 2em;
	margin-bottom: 20px;
}